{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h1>Talk to us</h1>
        <p>
        You can contact us either by email as through social networks, follow the links below:
        </p>
        <h4>Links</h4>
        <ul>
            <li>E-mail: <a href="https://mail.mospolytech.ru/">https://mail.mospolytech.ru/</a></li>
            <li>Web: <a href="https://new.mospolytech.ru/">mospolytech</a></li>
            <li>Facebook: <a href="https://www.facebook.com/moscowpolytech/">mospolytech</a></li>
            <li>YouTube: <a href="https://www.youtube.com/channel/UCJMY2ilUHti99R6ii2PIIYA/videos">mospolytech</a></li>
        </ul>
    </div>
</div>
{% endblock %}